services:
  chatapp:
    pull_policy: never # Apenas baixar a imagem local
    image: ${DC_APP_IMAGE_NAME} # Nome da minha imagem
    restart: unless-stopped # Sempre reiniciar quando o container cair
    build:
      context: . # Em qual diretório vai trabalhar
      dockerfile: ${DC_DOCKERFILE} # Não precisa más é bom colocar
      target: development # é 
      args:
       - CURRENT_ENV=${CURRENT_ENV}
    scale: 2
    ports:
      - "8003-8004:8003"
    env_file:
      - .env # caminho das variáveis de ambiente
    healthcheck: # Verify heatlth container
      test: ['CMD', 'curl', '--fail', 'http://loaclhost:8003/health'] # Test type
      interval: 10s 
      timeout: 2s 
      retries: 3
      start_period: 30s
    depends_on:
      psql_llm_agent:
        condition: service_healthy
    develop:
      watch: # Assistindo
        - action: sync+restart # Sincronizar e reestartar o container quando altero o código
          path: ./src # Assistir o meu projeto inteiro
          target: /app/src # O Alvo é minha pasta app. Onde ta meu projeto

          ignore:  # Ignora os arquivos para jogar dentro do container
            - .venv/ 
            - __pycache__/

        - action: rebuild  # Outra ação assistida na pasta ./uv.lock
          path: ./uv.lock # Se for instalado algo ele rebuilda

  ################################################################################

  psql_llm_agent:
    container_name: psql_llm_agent
    hostname: psql_llm_agent
    image: postgres:18
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./_data/postgresql:/var/lib/postgresql # Aqui salva os dados do banco quando eu derrubo o container 
    ports:
      - 5432:5432
    healthcheck:  # essa parte aqui é a checagem que meu banco faz antes de se conectar com o chatapp
      test: ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB']
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s